<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hangman Game</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="header">
    <h1>Hang Man</h1>
    <p>You have {{guesses}} guesses left.</p>
  </div>
  <div class="main">
    <div class="success">
      {{#gameWord}}
      {{/gameWord}}
    </div>
    <div class="entry">
      <form action="/" method="post">
        <input type="text" name="text" value="" placeholder="Guess a letter">
        <button type="submit" name="check">Check Letter</button>
      </form>
    </div>
    <br />
    <div class="guesses">
      What's the word?:
      <br />
      <br />
      {{gameWord}}
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
